@mixin button($bg-color: nth($colors, 1), $color: white){
    background-color: $bg-color;
    color: $color;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 45px;
    transition: all .3s;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 14px;
    border: 0;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        filter: brightness(95%);
        transform: scale(.95);
    }
}

@mixin game_offers() {
    .game-offers {
        &__single {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: nth($colors, 8);
            margin-bottom: 5px;
            transition: {
                property: background-color;
                timing-function: ease;
                duration: 300ms;
            }
            
            &.best-deal {
                
                &:after {
                    content: 'Best Deal!';
                    position: absolute;
                    left: 70px;
                    bottom: 10px;
                    background-color: nth($colors, 2);
                    padding: 5px;
                    line-height: 1;
                    
                    font: {
                        size: 14px;
                        weight: 900;
                    }

                    color: white;
                    border-radius: 15px;
                    //transform: rotate(25deg);
                }
            }

            &:hover {
                background-color: nth($colors, 6);
                
                .game-offers {
                    &__seller {
                        color: nth($colors, 2);
                    }

                    &__price {
                        color: black;
                    }

                    &__button {
                        background-color: nth($colors, 2);
                    }
                }
            }
        }

        &__seller {
            color: white;
            font: {
                size: 20px;
                weight: 900;
            }
        }

        &__price {
            color: white;
        }

        &__button {
            @include button;
        }
    }
}

@mixin game_media {
    .game-media {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &__single {
            overflow: hidden;
            max-width: 100px;
            max-height: 100px;
            margin-right: 5px;
            margin-bottom: 5px;
            //border: 1px solid transparent;
            transition: {
                property: transform, border;
                timing-function: ease;
                duration: 300ms;
            };

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                border: 4px solid nth($colors, 1);
            }
            
            img {
                pointer-events: none;
            }
        }

        &__lightbox {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .9);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__lightbox-close {
            position: absolute;
            right: 15px;
            top: 15px;

            &:hover {
                cursor: pointer;
            }

            &:after {
                content: '\f00d';
                font: {
                    family: 'Font Awesome 5 Pro', 'Font Awesome 5 Free';
                    weight: 600;
                    size: 30px;
                }

                color: white;
            }
        }
    }
}

@mixin single-game {
    .game {
        min-width: 180px;
        max-width: 180px;
        max-height: 220px;
        min-height: 220px;
        position: relative;
        border-radius: 6px;
        margin-bottom: 30px;
        transition: {
            property: filter;
            timing-function: ease;
            duration: 300ms;
        };

        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 24px 0px rgba(0,0,0,0.75);

            .game {
                &__thumb {
                    filter: brightness(75%);
                }
    
                &__details {
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            
        }

        &__thumb {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6px;
            z-index: -1;
        }

        &__details {
            position: absolute;
            opacity: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            transform: translateY(100%);
            padding: 5px;
            border-top: 3px solid nth($colors, 1);
            transition: {
                property: transform, opacity;
                duration: 300ms;
                timing-function: ease;
            };
            display: flex;
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            color: nth($colors, 1);
            font: {
                size: 15px;
                weight: 900;
            };
        }

        &__price {
            position: absolute;
            right: 5px;
            top: 5px;
            font: {
                size: 12px;
                weight: bolder;
            }
            color: nth($colors, 2);
        }

        &__cat {
            display: flex;
            width: 100%;

            &--item {
                color: white;
                font: {
                    size: 10px;
                    
                }
                padding: 5px;
                margin-right: 2px;
                background-color: nth($colors, 2);
                line-height: 1;
            }
        }

        &__links {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 15px;
        }

        &__button {
            padding: 5px;
            line-height: 1;
            font: {
                size: 15px;
            }
            color: white;
            border-radius: 6px;

            &--pink {
                background-color: nth($colors, 2);
            }

            &--blue {
                background-color: nth($colors, 1);
            }
        }
    }
}