.gfield:not(.hidden_label) {
    position: relative;
    label {
        position: absolute;
        left: 5px;
        top: 10px;
        transform: translateY(0);
        transition: all .3s;
        font-size: 14px!important;
        color: nth($colors, 5);

        &.active {
            left: 0;
            transform: translateY(-35px);
            color: nth($colors, 3);
            font-size: 16px!important;
        }
    }

    input {
        &.active {
            border-bottom: 2px solid nth($colors, 1);
        }
    }
}