.gfield:not(.hidden_label) {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;

    label {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease-in-out;
        font-size: 16px!important;
        color: nth($colors, 5);
        z-index: 1;

        &.active {
            left: 0;
            transform: translateY(-50px);
            color: nth($colors, 3);
            font-size: 18px!important;
        }
    }

    .ginput_container {
        margin: 0!important;
        input {
            margin: 0!important;
            &.active {
                border-bottom: 2px solid nth($colors, 1);
            }
        }
    }

    
}