.social_blocks {
    margin: 100px auto;

    &__inner {
        width: 80%;
        margin: 0 auto;
    }

    &__link {
        &:hover {
            text-decoration: none;
        }
    }

    &__item {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 6px 12px 0 rgba(29, 16, 69, 0.25);
        min-height: 225px;
        border-radius: 5px;
        margin-bottom: 30px;
        transition: all .3s;

        &:hover {
            transform: scale(.95);
            filter: brightness(95%);
            cursor: pointer;

            .social_blocks {
                &__icon {
                    animation: shake 4s cubic-bezier(.20,.07,.19,.97) infinite;
                }
            }
        }
    }

    &__icon {
        margin-bottom: 15px;
        color: white;
        text-shadow:
            1px 0px 1px #CCCCCC,
            0px 1px 1px #EEEEEE,
            2px 1px 1px #CCCCCC,
            1px 2px 1px #EEEEEE,
            3px 2px 1px #CCCCCC,
            2px 3px 1px #EEEEEE,
            4px 3px 1px #CCCCCC,
            3px 4px 1px #EEEEEE,
            5px 4px 1px #CCCCCC,
            4px 5px 1px #EEEEEE,
            6px 5px 1px #CCCCCC,
            5px 6px 1px #EEEEEE,
            7px 6px 1px #CCCCCC;
        font-size: 80px;
    }

    &__channel {
        background-image: linear-gradient(to right, nth($gradients, 1)), linear-gradient(to top, nth($gradients, 1));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 1024px){
            font: {
                size: 20px;
            }
        }
    }
}